__pycache__
.vscode
workspace*
tmp_*
*.ipynb

build
dist
*.egg-info
*.so
*.pyc
*.egg

*.obj
*.glb
*.pkl
*.ckpt
*.pth
*.safetensors
# scripts

checkpoints
DataDoP
outputs
workspace
*.sh
evaluate/CLaTr/CLaTr_checkpoints
evaluate/CLaTr/output
evaluate/CLaTr/results
evaluate/CLaTr/lightning_logs
evaluate/eval/results
dataset/DATA
dataset/download
dataset/readme.md
dataset/outputs
dataset/vis0
dataset/upload
dataset/logs
dataset/analysis
DataDoP_tags
DataDoP_tags_ours
DataDoP_avg_scales
DataDoP_tags_our_style
Normalized_Cameras
Normalized_Cameras_2
OurDataset_avg_scales
Tags
dataset
